@font-face {
  font-family: "iconfont"; /* Project id 1638883 */
  src: url('/font/font_1638883_8z8m10c3ehb.woff2') format('woff2'),
       url('/font/font_1638883_8z8m10c3ehb.woff') format('woff'),
       url('/font/font_1638883_8z8m10c3ehb.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tag:before {
  content: "\e7e4";
}

.icon-shipin:before {
  content: "\e63b";
}

.icon-oschina:before {
  content: "\e60b";
}

.icon-login:before {
  content: "\e67c";
}

.icon-shuju:before {
  content: "\e761";
}

.icon-rizhi:before {
  content: "\e660";
}

.icon-xitongpeizhi:before {
  content: "\e626";
}

.icon-server:before {
  content: "\e60c";
}

.icon-icon-p_mrpbaobiao:before {
  content: "\e609";
}

.icon-liuliang:before {
  content: "\e62f";
}

.icon-mima:before {
  content: "\e638";
}

.icon-yonghuming:before {
  content: "\e708";
}

.icon-shouji:before {
  content: "\e65c";
}

.icon-duanxin:before {
  content: "\e680";
}

.icon-iphone:before {
  content: "\e8be";
}

.icon-iPhoneX:before {
  content: "\e736";
}

.icon-bangzhushouji:before {
  content: "\e650";
}

.icon-C:before {
  content: "\e67a";
}

.icon-kaiyuanzhongguoshequ:before {
  content: "\e60d";
}

.icon-qq:before {
  content: "\e6da";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-weixin:before {
  content: "\e619";
}

.icon-yanse:before {
  content: "\e822";
}

.icon-zhuti:before {
  content: "\e753";
}

.icon-pifu:before {
  content: "\e62b";
}

.icon-tuichu:before {
  content: "\e6fc";
}

.icon-jiesuo:before {
  content: "\e632";
}

.icon-suoping:before {
  content: "\e61c";
}

.icon-email:before {
  content: "\e74f";
}

.icon-quanyiguanli-:before {
  content: "\e637";
}

.icon-youhuiquanyi:before {
  content: "\e659";
}

.icon-fuwu:before {
  content: "\e608";
}

.icon-China:before {
  content: "\ed4c";
}

.icon-bingdu:before {
  content: "\e62a";
}

.icon-bug1:before {
  content: "\e611";
}

.icon-huifu:before {
  content: "\e607";
}

.icon-bug:before {
  content: "\eaa4";
}

.icon-bofang:before {
  content: "\e601";
}

.icon-zidonghuifu:before {
  content: "\e621";
}

.icon-TagAdd:before {
  content: "\e841";
}

.icon-Tag:before {
  content: "\eab8";
}

.icon-navicon:before {
  content: "\e84e";
}

.icon-sucaisads:before {
  content: "\e600";
}

